<table class="table table-striped">
    <thead>
        <tr>
            <td>Logo</td>
            <td>Web Site</td>
            <td>Username</td>
            <td>Password</td>
            <td>Email</td>
            <td>Notes</td>
            <td>Tags</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>site.com</td>
            <td>abc</td>
            <td>***</td>
            <td>email@gmail.com</td>
            <td>addtitional information</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>site.com</td>
            <td>abc</td>
            <td>***</td>
            <td>email@gmail.com</td>
            <td>addtitional information</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>site.com</td>
            <td>abc</td>
            <td>***</td>
            <td>email@gmail.com</td>
            <td>addtitional information</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>site.com</td>
            <td>abc</td>
            <td>***</td>
            <td>email@gmail.com</td>
            <td>addtitional information</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>site.com</td>
            <td>abc</td>
            <td>***</td>
            <td>email@gmail.com</td>
            <td>addtitional information</td>
            <td></td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>